<h1>Settlements and statistics</h1>

<h3>Outstanding payments</h3>
<table class="table table-bordered">
	<tr class="thead">
		<th>Name</th>
		<th>Amount</th>
	</tr>
<% @jumpers.each do |jumper| %>
	<% if jumper.outstanding_amount != 0 %>
	<tr>
		<td><%= link_to jumper.name, jumper_path(jumper) %></td>
		<td><%= jumper.outstanding_amount %></td>
		<td> <%= button_to "Mark as paid", {:controller => "settlements", :action => "pay_all", :id => jumper.id }, :class => "btn btn-small btn-link", :confirm =>  'Are you sure you want to mark all NOK ' + jumper.outstanding_amount.to_s + '.- as paid for ' + jumper.name %></td>
	</tr>
	<% end %>
<% end %>
</table>

<strong>Total: <%= @total_outstanding %> </strong>

<h3>Todays loads and economy</h3>
<table class="table table-bordered">
  <tr>
    <th>Load number</th>
    <th>Flight time</th>
    <th>Load cost</th>
    <th>Paid by jumpers</th>
    <th>Total</th>
  </tr>

	<%tot_flighttime = 0%>
	<%tot_load_cost = 0%>
	<%tot_paid = 0%>
	<%tot_result = 0%>
  <% @loads.each do |load| %>
		<% next unless Time.zone.now.beginning_of_day.eql?(load.created_at.beginning_of_day) %>
    <tr>
      <td><%= link_to load.loadfortheday, edit_load_path(load) %></td>
			<td><%= load.flighttime %></td> <% tot_flighttime += load.flighttime if load.flighttime? %>
      <td><%= load.cost %></td> <% tot_load_cost += load.cost if load.flighttime? %>
      <td><%= load.paid %></td> <% tot_paid += load.paid %>
      <td><%= load.paid - load.cost if load.flighttime? %></td> <% tot_result += load.paid - load.cost if load.flighttime?  %>
    </tr>
	<% end %>
    <tr>
      <th>Total:</th>
      <th><%=tot_flighttime%></th>
      <th><%=tot_load_cost%></th>
      <th><%=tot_paid%></th>
      <th><%=tot_result%></th>
    </tr>
</table>

<h3>Statistics</h3>
<strong>Frequent flyer top 10</strong>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Total number of jumps</th>
    <th>Jumps last year</th>
  </tr>
  <% @ff_top_ten.each do |slot| %>
    <tr>
      <% jumper = @jumpers.where(id: slot.jumper_id).first %>
      <td><%= link_to jumper.name, jumper_path(jumper) %></td>
      <td><%= slot.count %></td>
      <td>Placeholder</td>
    </tr>
	<% end %>
</table>
