<h1>Settlements and statistics</h1>

<h3>Fun facts and statistics</h3>
<ul>
	<li><strong><%= Slot.total_this_year %> skydives so far this year distributed on <%= @loads_this_year.size %> loads (<%= @average_skydives_load.round(2) %> skydivers pr load on average)</strong></li>
	<li><strong><%= @flight_hours_this_year %> minutes on all aircrafts combined. ( <%= @flight_hours_this_year / @loads_this_year.size %> minutes pr. load on average)</strong></li>
	<li><strong><%= @total_flighttime_cost.to_i %> NOK paid in flight cost this year</strong></li>
	<li><strong><%= @slots_total_paid_this_year %> NOK paid by skydivers this year (<%= @slots_total_paid_this_year - @total_flighttime_cost %> in total)</strong></li>
	<li><strong>The average exit height was <%= @average_slot_height %> feet</strong></li>
</ul>


<h3>Statistics</h3>
<strong>Frequent flyer</strong>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Skydives <%= Time.now.year %></th>
    <td>Total number of skydives</td>
  </tr>

  <% @frequent_flyer.each do |jumper| %>
    <tr>
      <% skydiver = @jumpers.find(jumper[0]) %>
      <td><%= link_to skydiver.name, jumper_path(skydiver) %></td>
      <td><%= jumper[1] %></td>
      <td><%= skydiver.slots.by_year(Time.now.year).size %></td>
    </tr>
	<% end %>

</table>


<h3>Outstanding payments</h3>
<table class="table table-bordered">
	<tr class="thead">
		<th>Name</th>
		<th>Amount</th>
	</tr>
<% @jumpers.each do |jumper| %>
	<% if jumper.outstanding_amount != 0 %>
	<tr>
		<td><%= link_to jumper.name, jumper_path(jumper) %></td>
		<td><%= jumper.outstanding_amount %></td>
		<td> <%= button_to "Mark as paid", {:controller => "settlements", :action => "pay_all", :id => jumper.id }, :class => "btn btn-small btn-link", :confirm =>  'Are you sure you want to mark all NOK ' + jumper.outstanding_amount.to_s + '.- as paid for ' + jumper.name %></td>
	</tr>
	<% end %>
<% end %>
</table>

<strong>Total: <%= @total_outstanding %> </strong>
<br />
