<h1>Listing slots</h1>

<table>
  <thead>
    <tr>
      <th>Height</th>
      <th>Price</th>
      <th>Paid</th>
      <th>Approved</th>
      <th>Jumptype</th>
      <th>Jumpmaster</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @slots.each do |slot| %>
      <tr>
        <td><%= slot.height %></td>
        <td><%= slot.price %></td>
        <td><%= slot.paid %></td>
        <td><%= slot.approved %></td>
        <td><%= slot.jumptype %></td>
        <td><%= slot.jumpmaster %></td>
        <td><%= link_to 'Show', slot %></td>
        <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
        <td><%= link_to 'Destroy', slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slot', new_slot_path %>
