<h1>Listing slots</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Jumper</th>
      <th>Load ID / ID/Day </th>
      <th>Height</th>
      <th>Price</th>
      <th>Paid</th>
      <th>Approved</th>
      <th>Jumptype</th>
      <th>Jumpmaster</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @slots.each do |slot| %>
      <tr <%= 'class=error' if slot.missing_approval -%><%= 'class=info' unless slot.paid? -%>>
        <td><%= link_to slot.jumper.name, jumper_path(slot.jumper) %></td>
        <td><%= link_to slot.load.id.to_s + " / " + slot.load.loadfortheday.to_s , edit_load_path(slot.load.id) %>
        <td><%= slot.height %></td>
        <td><%= slot.price %></td>
        <td><%= slot.paid %></td>
        <td><%= slot.approved %></td>
        <td><%= slot.jumptype %></td>
        <td><%= slot.jumpmaster %></td>
        <td><%= link_to 'Show', slot %></td>
        <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
        <td><%= link_to 'Destroy', slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slot', new_slot_path %>
