<h1>Listing aircrafts</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Hourly Price</th>
      <th>Capacity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @aircrafts.each do |aircraft| %>
      <tr>
        <td><%= link_to aircraft.name, edit_aircraft_path(aircraft) %></td>
        <td><%= aircraft.aircraft_type %></td>
        <td><%= aircraft.price %></td>
        <td><%= aircraft.capacity %></td>
        <td><%= link_to 'Destroy', aircraft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aircraft', new_aircraft_path %>
