<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @aircraft.aircraft_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @aircraft.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @aircraft.price %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @aircraft.capacity %>
</p>

<%= link_to 'Edit', edit_aircraft_path(@aircraft) %> |
<%= link_to 'Back', aircrafts_path %>
