<%= form_for(@load) do |f| %>
  <% if @load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
      <% @load.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pilot %><br>
    <%= f.text_field :pilot %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :departure_timestamp %><br>
    <%= f.text_field :departure_timestamp %>
  </div>
  <div class="field">
    <%= f.label :flighttime %><br>
    <%= f.number_field :flighttime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
