<%= form_for(@load) do |f| %>
  <% if @load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
      <% @load.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-bordered">
	<tr>
	  <td>
	    <%= f.label :aircraft %><br>
	    <%= f.collection_select :aircraft_id, Aircraft.order(:name),:id,:name %>
	  </td>
	  <td class="field">
	    <%= f.label :pilot %><br>
	    <%= f.text_field :pilot %>
	  </td>
	  <td class="field" width="50">
	    <%= f.label :location %><br>
	    <%= f.text_field :location %>
	  </td>
	  <td class="field">
	    <%= f.label :departure_timestamp %><br>
	    <%= f.text_field :departure_timestamp %>
	  </td>
	  <td class="field">
	    <%= f.label :flighttime %><br>
	    <%= f.text_field :flighttime %>
	  </td>
	</tr>
	  <div class="actions">
			<%= render 'slots' %>
	    <%= f.submit %>
	  </div>
</table>

<% end %>
