<%= form_for(@load) do |f| %>
  <% if @load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
      <% @load.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-bordered">
	<tr>
	  <td>
	    <%= f.label :aircraft %><br>
	    <%= f.collection_select :aircraft_id, Aircraft.order(:name),:id,:name %>
	  </td>
	  <td class="field">
	    <%= f.label :pilot %><br>
	    <%= f.text_field :pilot %>
	  </td>
	  <td class="field" width="50">
	    <%= f.label :location %><br>
	    <%= f.text_field :location %>
	  </td>
    <td class="field">
	    <%= f.label :departure_timestamp %><br>
      <div id="datetimepicker1" class="input-append date">
        <%= f.text_field :departure_timestamp, options = { "data-format" => "yyyy-MM-dd hh:mm:ss"} %>2013-12-17 20:23:40 UTC
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
      </div>
    <script type="text/javascript">
  $(function() {
          $('#datetimepicker1').datetimepicker({
                  language: 'pt-BR'
                      });
            });
    </script>
	  </td>
	  <td class="field">
	    <%= f.label :flighttime %><br>
	    <%= f.text_field :flighttime %>
	  </td>
	</tr>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
  </table>
<% end %>
