<table class="table table-bordered">
	<tr>
		<th>Skydiver</th>
		<th>Height</th>
		<th>Type</th>
		<th>Price</th>
		<th>Submit</th>
	</tr>
<% @slots.each do |slots| -%>
	<%= form_for(slots) do |f| %>
	  <% if slots.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(slots.errors.count, "error") %> prohibited this slot from being saved:</h2>
	
	      <ul>
	      <% @slot.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		<tr>
      <td class="field">
	    	<%= f.collection_select :jumper_id, Jumper.all,:id,:name %>
		  </td>
      <td class="field">
	    	<%= f.collection_select :height, Price.order(:height),:height,:height %>
		  </td>
		  <td class="field">
	      <%= f.select :jumptype , Slot.jumptypes %>
		  </td>
		  <td class="field">
		    <%= f.text_field :price %>
		  </td>
		  <td class="actions">
		    <%= f.submit 'Update'%>
		  </td>
		</tr>
	<% end %>
<% end %>

<% if @slots.empty? or @load.aircraft.capacity > (@slots.size - @load.aircraft.capacity) %>
  <% range = 1..(@load.aircraft.capacity - @slots.size) %>
  <% range.each do |slots| -%>
  <% slot = Slot.new %>
    
  <%= form_for(slot) do |f| %>
    <%= hidden_field(:slot, :load_id, :value => @load.id) %>
  	  <% if slot.errors.any? %>
  	    <div id="error_explanation">
  	      <h2><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h2>
  	
  	      <ul>
  	      <% @slot.errors.full_messages.each do |msg| %>
  	        <li><%= msg %></li>
  	      <% end %>
  	      </ul>
  	    </div>
  	  <% end %>
  		<tr>
        <td class="field">
	    	  <%= f.collection_select :jumper_id, Jumper.all,:id,:name, include_blank: true%>
  		  </td>
        <td class="field">
	    	  <%= f.collection_select :height, Price.order(:height),:height,:height %>
  		  </td>
  		  <td class="field">
  	      <%= f.select :jumptype , Slot.jumptypes %>
  		  </td>
  		  <td class="field">
  		    <%= f.text_field :price %>
  		  </td>
  		  <td class="actions">
  		    <%= f.submit 'Update'%>
  		  </td>
  		</tr>
  	<% end %>
  <% end %>
<% end %>
</table>
