<table class="table table-bordered">
	<tr>
		<th class="span4">Skydiver</th>
		<th class="span4">Height</th>
		<th class="span4">Type</th>
		<th class="span1">Price</th>
		<th class="span1">Jumpmaster</th>
		<th class="span1">Approved</th>
		<th class="span4">Change</th>
	</tr>
<% @slots.each do |slots| -%>
	<%= form_for(slots) do |f| %>
	  <% if slots.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(slots.errors.count, "error") %> prohibited this slot from being saved:</h2>
	
	      <ul>
	      <% @slot.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		<tr <%= 'class=success' if slots.jumpmaster? -%>>
      <td class="field">
	    	<%= f.collection_select :jumper_id, Jumper.all,:id,:name %>
		  </td>
      <td class="field">
	    	<%= f.collection_select :height, Price.order(:height),:height,:height, {},{:class=>'input-small'} %>
		  </td>
		  <td class="field">
	      <%= f.select :jumptype , Slot.jumptypes, {},{:class=>'input-medium'}%>
		  </td>
		  <td class="field">
		    <%= f.text_field :price, :class => "input-mini" %>
		  </td>
		  <td class="field">
		      <%= f.check_box :jumpmaster %>
		  </td>
		  <td class="field">
		    <%= f.check_box :approved %>
		  </td>
		  <td class="actions">
        <%= f.submit 'Update'%>
      </td>
      <td>
        <%= link_to 'Details', edit_slot_path(slots) %>
        <%= link_to 'Delete', slots, method: :delete, data: { confirm: 'Are you sure? Slot will be gone forever' } %>
     </td>
		</tr>
	<% end %>
<% end %>

<% if @slots.empty? or @load.aircraft.capacity > (@slots.size - @load.aircraft.capacity) %>
  <% range = 1..(@load.aircraft.capacity - @slots.size) %>
  <% range.each do |slots| -%>
  <% slot = Slot.new %>
    
  <%= form_for(slot) do |f| %>
    <%= hidden_field(:slot, :load_id, :value => @load.id) %>
  	  <% if slot.errors.any? %>
  	    <div id="error_explanation">
  	      <h2><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h2>
  	
  	      <ul>
  	      <% @slot.errors.full_messages.each do |msg| %>
  	        <li><%= msg %></li>
  	      <% end %>
  	      </ul>
  	    </div>
      <% end %>
  		<tr>
        <td class="field">
	    	  <%= f.collection_select :jumper_id, @load.free,:id,:name, include_blank: true%>
  		  </td>
        <td class="field">
	    	  <%= f.collection_select :height, Price.order(:height),:height,:height, {},{:class=>'input-small'} %>
  		  </td>
  		  <td class="field">
  	      <%= f.select :jumptype , Slot.jumptypes, {},{:class=>'input-medium'} %>
  		  </td>
  		  <td class="field">
  		    <%= f.text_field :price, :class => "input-mini"  %>
  		  </td>
  		  <td class="field">
		      <%= f.check_box :jumpmaster %>
  		  </td>
  		  <td class="field">
		      <%= f.check_box :approved %>
  		  </td>
  		  <td class="actions">
  		    <%= f.submit 'Update'%>
  		  </td>
  		</tr>
  	<% end %>
  <% end %>
<% end %>
</table>
