<p id="notice"><%= notice %></p>

<p>
  <strong>Pilot:</strong>
  <%= @load.pilot %>
</p>

<p>
  <strong>Flighttime:</strong>
  <%= @load.flighttime %>
</p>


<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Back', loads_path %>
