<%= form_for(@jumper) do |f| %>
  <% if @jumper.errors.any? %>
    <td id="error_explanation">
      <h2><%= pluralize(@jumper.errors.count, "error") %> prohibited this jumper from being saved:</h2>

      <ul>
      <% @jumper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </td>
  <% end %>
  <table class="table">
    <tr>
    <td class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </td>
    <td class="field">
      <%= f.label :license %><br>
      <% #select_tag "license", options_for_select(Jumper.licenses) %>
      <%= f.collection_select :license, Jumper.order(:license),:id,:license, include_blank: false %>
    </td>
  </tr>
  <tr>
    <td class="field">
      <%= f.label :licensenumber %><br>
      <%= f.text_field :licensenumber %>
    </td>
    <td class="field">
      <%= f.label :phone %><br>
      <%= f.number_field :phone %>
    </td>
  </tr>
  <tr>
    <td class="field">
      <%= f.label :clubs %><br>
      <%= collection_check_boxes(:jumper, :clubs, Club.all, :id, :name) do |club| %>
        <ul><%= club.check_box + "  " +  club.text %></ul>
      <% end %>
    </td>
    <td class="field">
      <%= f.label :ratings %><br>
      <%= f.collection_check_boxes :ratings, Rating.all,:id,:name,:checked=>['151','152'] %>
    </td>
  </tr>
  <tr>
    <td class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </td>
    <td class="field">
      <%= f.label :verified %><br>
      <%= check_box(:jumper, :verified) %>
    </td>
  </tr>
  <tr>
    <td class="field">
      <p>Next of kin</p>
      <%= f.text_area :nextofkin %>
    </td>
  </tr>
  <tr>
    <td class="actions">
      <%= f.submit %>
    </td>
    </tr>
  </table>
<% end %>
