<h1>Listing jumpers</h1>
<%= link_to 'Register new skydiver', new_jumper_path %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>License</th>
      <th>Rating</th>
      <th>Club</th>
      <th>Phone</th>
      <th>Email</th>
      <th>License number</th>
    </tr>
  </thead>

  <tbody>
    <% @jumpers.each do |jumper| %>
      <tr>
        <td><%= link_to jumper.name, edit_jumper_path(jumper) %></td>
        <td><%= jumper.license %></td>
        <td><%= jumper.ratings.map(&:name).join(",") %></td>
        <td><%= jumper.clubs.map(&:name).join(",") %></td>
        <td><%= jumper.phone %></td>
  			<td><%= mail_to jumper.email %></td>
        <td><%= jumper.licensenumber %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

