<p id="notice"><%= notice %></p>

<p><strong><%= @jumper.name %>, <%= @jumper.license %>#<%= @jumper.licensenumber %> (<%= @jumper.ratings.map(&:name).join(",") %>)</strong></p></br>


<p>
  <strong>Club:</strong>
  <%= @jumper.clubs.map(&:name).join(",") %>
</p>

<p>
  <strong>Contact:</strong><br />
  <%= @jumper.phone %><br />
  <%= mail_to @jumper.email %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @jumper.verified %>
</p>

<p>
  <strong>Next of kin:</strong><br />
  <%= @jumper.nextofkin_name %> <br />
  <%= @jumper.nextofkin_address %> <br />
  <%= @jumper.nextofkin_phone  %> <br />
  <%= @jumper.nextofkin_relation %> <br />
</p>

<p>
  <strong>Total number of jumps logged here:</strong>
  <%= @jumper.slots.size %>
</p>

<p>
  <strong>Number of jumps current year</strong>
  Placeholder. Define model for this.
</p>

<p>Additional outstanding: Jumplog, statistics, calendar.</p>

<p>Outstanding payment: <%= @jumper.outstanding_amount %></p>

<%= link_to 'Edit', edit_jumper_path(@jumper) %> |
<%= link_to 'Back', jumpers_path %>
