<p id="notice"><%= notice %></p>

<h1><%= @jumper.name %>, <%= @jumper.license %>#<%= @jumper.licensenumber %> <%= @jumper.ratings.map(&:name).join(",") %>
<%= '<img src="/verified.png">'.html_safe if @jumper.verified? %></h1>

</p></br>


<p>
  <strong>Club:</strong>
  <%= @jumper.clubs.map(&:name).join(",") %>
</p>

<p>
  <strong>Contact:</strong><br />
  <%= @jumper.phone %><br />
  <%= mail_to @jumper.email %>
</p>

<p>
  <strong>Next of kin:</strong><br />
  <%= @jumper.nextofkin_name %> <br />
  <%= @jumper.nextofkin_address %> <br />
  <%= @jumper.nextofkin_phone  %> <br />
  <%= @jumper.nextofkin_relation %> <br />
</p>

<p>
  <strong>Total number of jumps logged at this DZ:</strong>
  <%= @jumper.slots.size %>
</p>

<p>Outstanding payment: <%= @jumper.outstanding_amount %></p>
<p>Jumpmastered loads: <%= @jumper.number_of_jumpmaster_loads %></p>

<h2>Jumplog</h2>
<table class="table table-bordered">
	<tr>
		<th>Date</th>
		<th>Height</th>
		<th>Jumptype</th>
		<th>Price</th>
	</tr>

<% @jumper.slots.reverse_each do |slot| %>
	<tr>
		<td><%= link_to slot.created_at.strftime("%B %d, %Y - %H:%M"), edit_load_path(slot.load) %></td>
		<td><%= slot.height %></td>
		<td><%= slot.jumptype %></td>
		<td><%= slot.price %></td>
	</tr>
<%end %>
</table>



<%= link_to 'Edit', edit_jumper_path(@jumper) %> |
<%= link_to 'Back', jumpers_path %>
